<template>
  <div class="Default text-xl">
    A default component
  </div>
</template>

<script>
export default {
  name: 'Default'
}
</script>

<style lang="scss" scoped>
/** @define Default */

.Default {
  display: flex;
}

.Default__element {
  display: flex;
}

.Default__element--modifier {
  display: flex;
}
</style>
