<template>
  <div>
    <h2 class="subtitle">{{ title }}:</h2>
    <book-preview v-for="(book, index) in books" :book="book"  :key="index"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import gql from 'graphql-tag'
import BookPreview from '~/components/BookPreview'
import Book from '~/models/Book'

@Component({
  components: {
    BookPreview
  },
  apollo: {
    books: {
      query: gql`{
        books {
          title,
          author
        }
      }`
    },
    tasks: {
      query: gql`{
          fetchTasks {
          title
          project {
            name
          }
        }
      }`
    }
  }
})
export default class Books extends Vue {
  @Prop({ default: "Knihy" }) title: string

  books: Book[] = []
  tasks: any = null
}

</script>

