<template>
  <div class="book">
    <h2 class="subtitle-sm">{{ book.title }}</h2>
    <p>{{ book.author }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Book from '~/models/Book'

@Component
export default class BookPreview extends Vue {
  @Prop({ type: Object, required: true }) book!: Book
}
</script>

<style lang="scss" scoped>
  .book {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
</style>
