<template>
  <section class="container">
    <div>
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="subtitle">
        {{ text }}
      </h2>
      <div class="links">
        <!-- add link to readme -->
      </div>
      <Default />
      <fresh-image
        class="margin-top"
      />
      <Books />
    </div>
  </section>
</template>

<script>
import { fresh_image as freshImage } from '@2f/vue-components'
import Default from '../components/Default'
import Books from '~/components/Books'

export default {

  components: {
    Default,
    freshImage,
    Books
  },
  data() {
    return {
      title: 'Hello Guys',
      text: 'Nuxt.js app skeleton........',
      ip: 0
    }
  }
  // ,
  // asyncData({ error, $axios }) {
  //   return $axios.$get('/api/').catch(e => {
  //     error({ statusCode: 404, message: `${e}` })
  //   })
  // }
}
</script>

<style lang="scss">
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 100px;
}

.subtitle {
  padding-bottom: 15px;
  font-size: 42px;
  font-weight: 300;
  color: #526488;
  word-spacing: 5px;
}

.subtitle-sm {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 300;
  color: #526488;
}

.links {
  padding-top: 15px;
}
</style>
