$brand__color--primary: pink;
$brand__color--secondary: lightblue;

$brand__typeface--primary: 'Noto Sans', sans-serif;
$brand__typeface--secondary: 'Noto Serif', serif;

$breakpoint--hd: 1440px;
$breakpoint--desktop: 1024px;
$breakpoint--tablet: 768px;
